
:root {
  --top: #eeeeee;
  --bottom: #d6f1ec;
  --dark: rgb(116, 116, 116);
  --light: #fff;
  --grey: rgb(140, 140, 140);
  --space-s: 8px;
  --space-m: 16px;
  --bar-height: 56px;

  --dark-back: #404258;
  --dark-card-back: #474E68;
  --dark-input: #6B728E;
}

/**/

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--grey);
  background: var(--bottom);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input[type=text] {
  height: 30px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid var(--dark-back);
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

#navigation {
  max-width: 230px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 16px;
}

#content-container {
  margin-left: 254px;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.properties {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #content {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-back); 
    color: var(--top);
    transition: background-color, color .5s ease-in-out;
  }

  input[type=text] {
    background-color: var(--dark-input); 
    border-color: var(--top);
    color: var(--top);
    transition: background-color, border-color, color .5s ease-in-out;
  }

  .card {
    background-color: var(--dark-card-back); 
    transition: background-color .5s ease-in-out;
  }
}