
:root {
  --top: #eeeeee;
  --bottom: #d6f1ec;
  --dark: rgb(116, 116, 116);
  --light: #fff;
  --grey: rgb(140, 140, 140);
  --space-s: 8px;
  --space-m: 16px;
  --bar-height: 56px;

  --dark-back: #404258;
  --dark-card-back: #474E68;
  --dark-input: #6B728E;
}

/**/

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--grey);
  background: var(--bottom);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input[type=text] {
  font-size: 16px;
  padding: var(--space-s);
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--dark-back);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

#navigation {
  max-width: 230px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 16px;
}

#content-container {
  margin-left: 254px;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.wallets {
  margin-top: var(--space-s);
}

.wallets a {
  border-radius: var(--space-s);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
  padding: 2px;
  display: inline-block;
  margin: var(--space-s) var(--space-s) 0 0;
}

.icon {
  height: 24px;
  padding: 4px;
}

h3 a {
  display: flex;
  justify-content: center;
}

.properties {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.weak {
  font-weight: lighter;
  opacity: 0.5;
  font-size: 12px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #navigation {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  #content-container {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-back); 
    color: var(--top);
    transition: background-color, color .5s ease-in-out;
  }

  input[type=text] {
    background-color: var(--dark-input); 
    border-color: var(--top);
    color: var(--top);
    transition: background-color, border-color, color .5s ease-in-out;
  }

  .card {
    background-color: var(--dark-card-back); 
    transition: background-color .5s ease-in-out;
  }
}

/* Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}